body {
	
	background-color: rgb(160,160,160);

}

a:link {
	color: rgb(101,30,30);
}

a:visited {
	color: rgb(43,42,42);
}

h1 {
	color: rgb(156,28,28);
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 3em;
}

h4 {
	text-align: center;
	color: rgb(101,30,30);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
	width : 100%;
}
